---
import Card, { type CardProps } from "../components/Card.astro";
import type { FaqItemProps } from "../components/FAQCard.astro";
import FAQCard from "../components/FAQCard.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";

const WikiCardProps: CardProps = {
  title: "Wiki",
  description:
    "A community maintained wiki offering a wealth of course details, professor profiles, and comprehensive course material. Consume, contribute, or comment!",
  tagline: "Discover. Learn. Share.",
  github: "https://github.com/mac-egirls/mcmaster-cs-wiki",
  link: "https://wiki.egirls.dev",
  icon: "/globe.svg",
};

const StaticWikiProps: CardProps = {
  title: "Static Wiki",
  description:
    "A static version of the wiki, with a focus on performance and search engine optimization.",
  tagline: "Find what you need. Fast.",
  github: "https://github.com/Krish120003/static-wikijs",
  link: "https://mcmaster-wiki.krishkrish.com",
  icon: "/speedometer.svg",
};

const OSCSCardProps: CardProps = {
  title: "OSCS",
  tagline: "Open Source Success.",
  description:
    "Leverage the collective knowledge and expertise shared within these cheatsheets, empowering your academic success while embracing the spirit of collaboration and open-source learning.",
  github: "https://github.com/mac-egirls/oscs",
  link: "https://egirls.dev/oscs/",
  icon: "/oscs.svg",
};

const FAQ: FaqItemProps[] = [
  {
    question: "How can I help?",
    answer: `Click into one of our projects! All of them have some level of source code available on GitHub. We may restrict contributions from anonymous or untrusted users for some of our projects, but if you want to be vetted and help out, feel free to email us at the link on our GitHub!.`,
  },
  {
    question: "Why E-girls?",
    answer:
      "It's an inside joke from the 2025 CS Discord Server! We accept all contributors to the project, no matter your gender or sexual orientation.",
  },
];
---

<Layout title="Mac E-girls">
  <main class="max-w-6xl px-8 m-auto">
    <Hero />

    <section id="projects" class="pb-4">
      <h2 class="pb-4 text-2xl font-semibold lg:pb-12">Initiatives</h2>
      <div class="flex flex-col items-center justify-center gap-8 md:flex-row">
        <Card {...WikiCardProps} />
        <Card {...StaticWikiProps} />
        <Card {...OSCSCardProps} />
      </div>
    </section>

    <section class="py-4">
      <h2 class="pb-4 text-2xl font-semibold lg:pb-12">FAQ</h2>

      {FAQ.map((faqprops) => <FAQCard {...faqprops} />)}
    </section>
  </main>
  <footer class="max-w-6xl px-8 py-4 m-auto">
    <hr class="border-neutral-700" />
    <div class="flex justify-between py-4 text-sm text-neutral-700">
      <div>Mac E-Girls</div>
      <div>
        This is an unofficial site and not affiliated with McMaster University.
      </div>
    </div>
  </footer>
</Layout>
