---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mac E-girls">
	<main class="max-w-6xl px-8 m-auto">
		<Hero />
		<section class="p-10">
			<h2 class="pb-4 text-4xl font-semibold">Projects</h2>
			<p>WIP</p>
		</section>
		<section class="flex flex-col gap-4 p-10">
			<h2 class="pb-2 text-4xl font-semibold">FAQ</h2>
			<div class="shadow-md collapse collapse-arrow">
				<input type="radio" name="faq" />
				<div class="text-xl font-medium collapse-title">
					How can I help?
				</div>
				<div class="collapse-content">
					<p>
						Click into one of our projects! All of them have some
						level of source code available on GitHub. We may
						restrict contributions from anonymous or untrusted users
						for some of our projects, but if you want to be vetted
						and help out, feel free to email us at the link on our
						GitHub!.
					</p>
				</div>
			</div>
			<div class="shadow-md collapse collapse-arrow">
				<input type="radio" name="faq" />
				<div class="text-xl font-medium collapse-title">
					Why E-girls?
				</div>
				<div class="collapse-content">
					<p>
						It's an inside joke from the 2025 CS Discord Server! We
						accept all contributors to the project, no matter your
						gender or sexual orientation.
					</p>
				</div>
			</div>
		</section>
	</main>
</Layout>
